<div style="margin: 10px; display: flex ;justify-content: center;">
    <mat-card appearance="outlined" style="width: 280px; height: 300px;"> 
      <mat-card-header style="display: flex; justify-content: center; border-bottom: solid 1px rgb(29, 28, 28);" [ngStyle]="{'background-color': headercolor}">
        <h2>{{ currentPlayer.shortName }}</h2>
      </mat-card-header>
      
      <mat-card-content class="card" style="display: flex;" [ngStyle]="{'background-color': color}">
        <div style="width: 50%;">
            <div class="player-image-container">
              <img [src]="'http://localhost:5177/api/images?url=' + currentPlayer.playerFaceUrl">
            </div>

            <div class="team-image-container">
              <img [src]="'http://localhost:5177/api/Images?url=' + currentPlayer.nationFlagUrl" style="width: 50px; height: 100%; margin: 6px;">
                <img [src]="'http://localhost:5177/api/Images?url=' + currentPlayer.clubLogoUrl" style="width: 50px; height: 100%; margin: 0px;">
            </div>

        </div>
        <div class="player-stats" style= "width: 50%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
          <h1>{{ currentPlayer.overall }}</h1>
          <p style="font-size: x-large;">{{currentPlayer.playerPositions}}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  